<template name="verification">
    <div class="verification">
        {{> flashMessages}}
        <div class="alert alert-info alert-dismissible" role="alert">
            <div class="container">
                <span><strong>IMPORTANT</strong></span>
                <br>Please verify your email before having full access to all the application's features.
                <a class="verify hidden-sm hidden-xs" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Verify
                </a>
                <br class="hidden-lg hidden-md">
                <br class="hidden-lg hidden-md">
                <a class="verify-sm hidden-lg hidden-md" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Verify
                </a>
            </div>
        </div>
        <br>
        {{#transition in="fadeIn:500" out="fadeOut:500"}}
        <div class="collapse" id="collapseExample">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <span>
                            <b>Verify account via email</b>
                        </span>
                        <a class="pull-right sendEmail">Send an email</a>
                    </p>
                    <hr>
                    <p>
                        <span>
                            <b>Verify account via phone number</b>
                        </span>
                        <a class="pull-right sendCode">Send a code</a>
                    </p>
                    <br>
                    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                        <form>
                            <div class="form-group">
                                <label for="code">Enter the code</label>
                                <input type="text" class="form-control code" id="code">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm btn-code">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/transition}}
    </div>
</template>